/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



 /* --- ROOT VARIABLES --- */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sree+Krushnadevaraya&display=swap');

 :root {
    --main-font: "Sree Krushnadevaraya", serif;
    --sec-font: "Poppins", sans-serif;
    --dark-green: #354D31;
    --light-green: #A4A677;
    --beige: #f6ede5;
    --dark-beige: #e5d3cc;
    --ash-brown: #c3b7ae;
 }

 h2{
    color: var(--dark-green);
    font-family: var(--main-font);
    font-size: 4rem;
 }

 p{
    font-family: var(--sec-font);
    font-size: 1.25rem;
    line-height: 2rem;
 }


 /* --- MY CODE --- */
* {
    margin: 0 auto; 
    font-family: var(--sec-font);
    scroll-behavior: smooth;
}

main{
    max-width: 3000px;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url("./Plant Photos/Hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

header nav{
    margin: auto;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0));
}

#logo{
    font-size: 3rem;
    text-decoration: none;
    color: var(--beige);
    margin: 20px 100px;
    max-width: 1280px;
}

#logo:hover{
    color: var(--light-green)
}
#main-nav{
    display: flex;
    margin: 0px 50px;
}

#main-nav a{
    color: var(--beige);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 400;
    margin: 20px;
    max-width: 1280px;
}

#main-nav a:hover{
    color: var(--light-green);
}


#hero-section{
    color: var(--beige);
    font-size: 7rem;
    margin-top: 2em ;
    margin-left: .80em;
    line-height: 11rem;
    max-width: 1280px;
}

.hidden{
    display: none; 
    font-size: 4rem;
    line-height: 1.5em;
   letter-spacing: 2px;
   color: var(--ash-brown);
}

button{
    color: var(--beige);
    background-color: var(--dark-green);
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-family: var(--main-font);
    font-weight: bold;
    padding: 1em 1.5em;
}

button:hover{
    background-color: var(--light-green);
}




/* --- ABOUT --- */

#about{
    display: flex;
    padding-top: 16em;
    padding-bottom: 8em;
    
}

#about img{
    width: 25em;
    height: auto;
    border-radius: 50px;
    margin: 0 10em 0 10em;
    
}

#about-text{
    margin: 11em 3em 10em 0em;
}

#about button{
    margin-top: 20px;
}

#about h2{
    
    margin-bottom: 20px;
}

#about p{
    margin-right: 4em;
}

/* --- Catalog --- */

#catalog{
    padding: 8em 0;
}

#catalog h2{
    text-align: center;
  
    margin-bottom: .5em;
}

#catalog-words {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-family: var(--sec-font);
    padding-bottom: 3em;
}

#api-container {
    background-color: #142821;
    width: 70%;
    border-radius: 40px;
    margin: 0 auto;
  
    
    

}
#plants {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#plants img {
    left: 48rem;
    top: 4em;
    border-radius: 40px;
    grid-column: 2;
}

#plants h4{
    color: var(--beige);
    font-family: var(--sec-font);
    font-size: 2.75rem;
    margin-left: 1.5em;
    margin-bottom: 1em; 
    margin-top: 1.5em;
}
#plant_nav{
    margin-top: 2.5em;
    margin-left: 8em;    
}

#plant_nav button {
    padding: 1em 2em;
    font-family: var(--sec-font);

}


#plants p{
    color: var(--beige);
    font-family: var(--sec-font);
    font-size: 1.25rem;
    margin-left: 7em;
}

.label-color {
    color: var(--light-green);
}



/* --- Carousel --- */
#featured {
    padding: 8em 0;
   width: 90%;
   margin: 0 auto;
   border-radius: 70px;
  }
  
  #featured h2 {
    padding-bottom: .5em;
  }

  #featured-content{
    display: flex;
    margin-top: 5em;
  }

  #featured-text{
    width: 50%;
    margin: 8em 5em 3em;
  }
  #featured h3 {
    font-size: 1.5rem;
    color: var(--light-green);
    font-weight: bold;
    margin-bottom: 1em;
  }

  #featured p{
    color: var(--dark-green);
  } 
  
  .carousel{
    position: relative;
    border-radius: 50px;
    width: 500px;
    height: 650px;
    display: block;
    overflow: hidden;

  }

  .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    
  }

  #featured button{
    margin-top: 30px;
  }
  

/* --- Accordion ---*/

#care{
    display: flex;
    padding-top: 8em;
    padding-bottom: 16em;
}
#care h2 {
    padding-top: .5em;
    font-size: 5.5rem;
}

#care_header{
    margin-left: 8em;
    width:50%;
}

#plant_care{
   width: 95%;
}
#care h3{
    font-family: var(--main-font);
    color: var(--dark-green);
    font-size: 2rem;
    border-bottom: 2px solid;
    border-color: #142821;
}

#care p{
    width: 80%;
    padding-top: 1rem;
    color: var(--light-green);
    font-weight: bold;
}

.ui-accordion .ui-accordion-header {
    width: 80%;
    padding: 1.5em 0 .25em 0;
   
}

.ui-accordion .ui-accordion-content{
    
    
}

h3.ui-accordion-header-active.ui-state-active.ui-state-default{
   
}



/* --- FOOTER ---*/
footer{
    background-color: #142821;
    padding: 2em;
    display: flex;
}

footer nav{
   margin: 0 auto;
}

nav h4 {
    font-family: var(--sec-font);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light-green);
}
.footer-list li{
    
    padding: .75em 0 .5em 0;
    
}
.footer-list a {
    text-decoration: none;
    font-weight: 400;
    color: var(--beige);
    font-family: var(--sec-font);
    font-size: 1rem;
}

.footer-list a:hover {
    color: #A4A677;
}

